body {
    background-color: #002712;
    font: normal 15pt Arial;
}

header {
    color: #FBDA7F;
    text-align: center;
}

section {
    background-color: aliceblue;
    font-size: medium;
    border-radius: 10pt;
    padding: 15pt;
    width: auto;
    margin: auto;
}

input {
    background-color: rgba(251, 218, 127, 0.4);
    border-radius: 10pt;
    padding: 3pt;
    margin-block-end: inherit;
}

footer {
    color: rgba(215, 230, 120, 0.699);
    text-align: center;
    font-size: initial;
}